.hero{
    background-image: url(../../img/lagos.jpg); 
    background-size: cover;
    background-position: bottom center;
    padding-top: 20vh;
    padding-bottom: 20vh;
}

.about-title{
    background: url(../../img/gov.jpg);
    background-size: cover;
    background-position: center;
    min-height: 35vw;
}

.about-text{
    padding-top: 10vh;
    padding-bottom: 10vh;

}
