body {
  padding-top: 96px;
  font-family: 'Nosifer', cursive;
  font-family: 'Saira Extra Condensed', sans-serif;
  font-weight: 300; }

h1, h2, h3, h4, h5, h6 {
  font-family: "cursive"; }

h1 {
  color: #e23400; }

.lead {
  margin-bottom: 1.5em; }

.btn-primary {
  background-color: #e23400;
  border-color: none; }

.display-1 {
  font-family: 'Nosifer', cursive; }

.navbar-inverse .navbar-brand {
  font-family: "cursive";
  color: #e23400;
  font-size: 3rem; }

.nav-item {
  margin-left: 2em;
  text-transform: uppercase;
  font-size: 1.2rem; }

.hero {
  background-image: url(../../img/lagos.jpg);
  background-size: cover;
  background-position: bottom center;
  padding-top: 20vh;
  padding-bottom: 20vh; }

.about-title {
  background: url(../../img/gov.jpg);
  background-size: cover;
  background-position: center; }
